* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calcuator {
  width: 380px;
  border-radius: 30px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 20px 5px #b6b6b6;
}

.calcuator form {
  display: grid;
  grid-template-columns: repeat(4, 65px);
  grid-auto-rows: 65px;
  grid-gap: 20px;
}

.calcuator form input {
  border: 2px solid #333;
  cursor: pointer;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  box-shadow: 7px 7px 12px #b6b6b6;
}

.calcuator form input:hover {
  box-shadow: 2px 2px 4px #333;
}

.clear {
  background-color: tomato;
  grid-column: span 3;
}

.operator {
  background-color: lightgoldenrodyellow;
}

.dot {
  background-color: skyblue;
}

.result {
  grid-column: span 2;
}

.calcuator form input[type="text"] {
  text-align: right;
  padding: 0 10px;
  grid-column: span 4;
  box-shadow: inset 3px 4px 7px #9a9a9a;
}
